$primary-fg-color: #ff00009a;
$primary-bg-color: #080808e0;
$button-bg-color: hsl(0, 0%, 27%);
$secondary-bg-color: #1f0707;
$accent-color: #ff8800;
$alt-text-color: #c5c200;

@import "color-map-dark"