$primary-fg-color: #ff00008e;
$primary-bg-color: #03070c;
$button-bg-color: hsl(182, 16%, 36%);
$secondary-bg-color: #0b0a0c;
$accent-color: #ff8800;
$alt-text-color: #c5c200;

@import "color-map-light"